@import './variables.css';
@import './solved/components/grid.css';
@import './solved/utils/media.css';

html,body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background: gray(120);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Nav {
  background: #2A4150;
  width: 100vw;
  height: 60px;
  min-height: 60px;
}

.Main {
  position: relative;
  width: 100vw;
  height: 100%;
  background: gray(251);
  background: gray(231);

  &-contentNav {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    height: 0px;
  }

  &-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    > .Grid {
      margin-bottom: 0;
    }
  }
}

.Toc {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  max-height: calc(100vh - var(--nav-height) - var(--content-margin) - var(--content-margin));
  overflow: hidden;

  &-title {
    font-size: 22px;
    line-height: 1.1;
    color: #001D30;
    margin: 0.8em 0;
  }

  &-search {
    background: gray(245);
    font-size: 1.4em;
    border: none;
    padding: 10px 16px;
    border-radius: 2px 2px 0 0;
    pointer-events: all;
    outline: none;

    &:focus {
      background: gray(255);
    }
  }

  &-menu {
    position: relative;
    border-radius: 0 0 2px 2px;
    background: gray(255);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: all;

    &Item {
      padding: .8em 1.6em .8em 1.6em;
      border-bottom: 1px solid gray(245);
      font-size: 1.4em;
      cursor: pointer;
      &:hover {
        background: gray(240);
      }
    }
  }
}

.Content {
  background: gray(255);
  pointer-events: all;
  min-height: calc(100vh - var(--nav-height) - var(--content-margin) - var(--content-margin));
  &-container {
    height: 100%;
    padding: 30px;

    > p {
      height: 180px;
    }
  }
}






/*.Sidebar {
  position: relative;
  width: 33.33333333%;
  max-width: 340px;
  background: gray(150);
  display: flex;
  display: none;
  flex-direction: column;

  &-title {
    font-size: 35px;
  }

  &-menu {
    position: relative;
    overflow-y: auto;
    background: gray(180);
    flex: 1;
    padding: 16px;

    &Item {
      position: relative;
      height: 10px;
      background: gray(200);
      margin-bottom: 8px;
    }
  }
}*/
